<div class="container mt-5 mb-5">
    <form method="POST" action="/admin/stats">
        <label for="fromdate">
            Từ
        </label>
        <input type="date" name="fromdate" required>
        <label for="todate">
            Tới
        </label>
        <input type="date" name="todate" required>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="btn btn-primary" type="submit">Xem</button>
    </form>
    <div style="height: 500px; width:auto;">
        <canvas id="myChart"></canvas>
    </div>
    <div class="margin-div mt-5 mb-5 text-center">
        <br/>
        <br/>
        <span class="display-3">Đơn hàng hoàn thành: <span style="color: orange;">{{count}}</span></span>
        <br/>
        <span class="display-3">Sản phẩm bán được: <span style="color: blue;">{{totalqty}}</span></span>
        <br/>
        <span class="display-3">Doanh thu: <span style="color: red;">{{amount}}</span> VNĐ</span>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    var labelList = [];
    var qtyList = [];
    {{#each itemname}}
        labelList.push('{{this}}');
    {{/each}}
    console.log(labelList);
    {{#each itemqty}}
        qtyList.push('{{this}}');
    {{/each}}
    console.log(qtyList);
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labelList, 
            datasets: [{
                label: 'Số lượng',
                data: qtyList, 
                backgroundColor: 'rgba(255, 99, 132)',
                borderWidth: 1
            }]
        },
        options: {
            scales : {
            yAxes : [{
                ticks : {
                    beginAtZero : true
                }   
            }]
        }
        }
    });
</script>