<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel='stylesheet' href='/javascripts/imager/imagerJs.css' />
<link rel='stylesheet' href='/stylesheets/imager.css' />
<script src="/javascripts/imager/imagerJs.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container mt-5 mb-5">
    {{#if err}}
    <div class="alert alert-danger">
        Xuất hiện lỗi khi cố gắng truy cập sản phẩm này. Xin vui lòng xác nhận lại yêu cầu!
    </div>
    {{else}}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <button class="btn btn-primary" onclick="addNew()" id="img-button">Thêm trình sửa ảnh</button>
            </div>
            <div class="form-group" id="imagers">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card product-detail-card">
                <img class="card-img-top" src="{{product.image}}" alt="">
                <div class="card-body product-detail-card">
                    <table class="table table-hover table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th scope="row" class="text-primary">Tên khung</th>
                                <td class="text-center card-product-name">{{product.name}}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary">Giá (VNĐ)</th>
                                <td class="text-center card-product-price">{{product.price}}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary">Chất liệu</th>
                                <td class="text-center card-product-details">{{product.material}}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary">Mô tả</th>
                                <td class="text-center card-product-details">{{product.desc}}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary">Chiều rộng (mm)</th>
                                <td class="text-center card-product-details">{{product.width}}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary">Chiều cao (mm)</th>
                                <td class="text-center card-product-details">{{product.height}}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-primary">Ngày thêm</th>
                                <td class="text-center card-product-details">{{product.added}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <form method="POST" action="/add-img">
                        <input type="hidden" name="imgdata" id="imgdata">
                        <button type="submit" class="btn btn-lg btn-primary">Thêm vào giỏ</button>
                    </form>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<script>
    var pluginsConfig = {
        Rotate: {
            controlsCss: {
                width: '15px',
                height: '15px',
                background: 'white',
                border: '1px solid black'
            },
            controlsTouchCss: {
                width: '25px',
                height: '25px',
                background: 'white',
                border: '2px solid black'
            }
        },
        Resize: {
            controlsCss: {
                width: '15px',
                height: '15px',
                background: 'white',
                border: '1px solid black'
            },
            controlsTouchCss: {
                width: '25px',
                height: '25px',
                background: 'white',
                border: '2px solid black'
            }
        },
        Crop: {
            controlsCss: {
                width: '15px',
                height: '15px',
                background: 'white',
                border: '1px solid black'
            },
            controlsTouchCss: {
                width: '25px',
                height: '25px',
                background: 'white',
                border: '2px solid black'
            }
        },
        Toolbar: {
            toolbarSize: 85,
            toolbarSizeTouch: 43,
            tooltipEnabled: true,
            tooltipCss: {
                color: 'white',
                background: 'black'
            }
        },
        Delete: {
            fullRemove: true
        }
    };

    var options = {
        plugins: ['Rotate', 'Crop', 'Resize', 'Save', 'Toolbar', 'Delete', 'Undo'],
        editModeCss: {
        },
        pluginsConfig: pluginsConfig,
        quality: {
            sizes: [
                { label: 'Original', scale: 1, quality: 1, percentage: 100 },
                { label: 'Large', scale: 0.5, quality: 0.5, percentage: 50 },
                { label: 'Medium', scale: 0.2, quality: 0.2, percentage: 20 },
                { label: 'Small', scale: 0.05, quality: 0.05, percentage: 5 }
            ],
            allowCustomSetting: true
        },
        contentConfig: {
            saveImageData: function (imageId, imageData) {
                try {
                    console.log('Save button clicked! ImageId:', imageId);
                    console.log('ImageData argument here is the image encoded in base64 string. ' +
                        'This function gets called anytime user clicks on `save` button. ' +
                        'If one wants to disable edit after saving, check the `standalone-remote-upload.html` ' +
                        'example file which shows how to upload image on the server ' +
                        'and display it in place of ImagerJs after that.');
                    localStorage.setItem('image_' + imageId, imageData);
                    console.log(imageData);
                    $("#imgdata").val(imageData);
                } catch (err) {
                    console.error(err);
                }
            }
        }
    };

    var addNew = function () {
        $('#img-button').remove();

        var $imageContainer = $(
            '<div class="image-container">' +
            '  <img class="imager-test" ' +
            '       src="" ' +
            '       style="min-width: 300px; min-height: 200px; width: 300px;">' +
            '</div>');


        $('#imagers').append($imageContainer);
        var imager = new ImagerJs.Imager($imageContainer.find('img'), options);
        imager.startSelector();

        imager.on('editStart', function () {
            // fix image dimensions so that it could be properly placed on the grid
            imager.$imageElement.css({
                minWidth: 'auto',
                minHeight: 'auto'
            });
            var qualitySelector = new window.ImagerQualitySelector(imager, options.quality);

            var qualityContainer = $('<div class="imager-quality-standalone"></div>');
            qualityContainer.append(qualitySelector.getElement());

            imager.$editContainer.append(qualityContainer);

            qualitySelector.show();
            qualitySelector.update();
        });
    }; 
</script>