<div class="container-fluid justify-content-center">
    <form method="POST" action="/shop">
        <div class="maxwi border rounded mt-1 mb-1 p-2 row text-center bg-dark text-light justify-content-center">
            <div class="form-group col-md-3">
                <label for="material">
                    <i class="fas fa-filter"></i> Chất liệu</label>
                <select class="form-control" name="material">
                    <option value="all">Tất cả</option>
                    {{#each matList}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="material">
                    <i class="fa fa-sort"></i> Thứ tự</label>
                <select class="form-control" name="sortBy">
                    <option value="none">Không</option>
                    <option value="name">Tên</option>
                    <option value="price">Giá</option>
                    <option value="added">Ngày thêm</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="material">
                    <i class="fa fa-sort"></i> Thứ tự</label>
                <select class="form-control" name="order">
                    <option value="1">Tăng</option>
                    <option value="-1">Giảm</option>
                </select>
            </div>

            <div class="form-group col-md-3 mid-text-div">
                <button type="submit" class="btn btn-outline-light">Xem</button>
            </div>

        </div>
    </form>

    <link rel='stylesheet' href='/stylesheets/pagination.css'/>
    <div class="container-fluid border rounded mt-1 mb-1 p-2" id="products-holder">
    </div>
    <div id="pagination" class="ml-auto mr-auto justify-content-center text-center mb-5 pag"></div>
     
    <script src="/javascripts/pagination.min.js"></script>
    <script>
        var productList = [];
        {{#each products}}
            {{#each this}}
                var obj = new Object();
                obj.name = '{{name}}';
                obj.image = '{{image}}';
                obj.price = '{{price}}';
                obj.id = '{{_id}}';
                productList.push(obj);
            {{/each}}
        {{/each}}
        var options = {
            dataSource: productList,
            pageSize: 8,
            callback: function (data, pagination) {
                var lineSize = 4;
                var productChunks = [];
                for (var i = 0; i < data.length; i += lineSize) {
                    productChunks.push(data.slice(i, i + lineSize));
                }
                var dataHtml = '';
                for (var i = 0; i < productChunks.length; i++){
                    dataHtml += '<div class="row mb-3">';
                    for (var j = 0; j < productChunks[i].length; j++){
                        dataHtml += '<div class="col-md-3 col-sm-12">';
                        dataHtml += '<div class="card product-card">';
                        dataHtml += '<div class="card-header card-product-img">';
                        dataHtml += '<a href="/product/' + productChunks[i][j].id + '">';
                        dataHtml += '<img class="card-img-top shop-product-img p-2" src="' + productChunks[i][j].image + '" alt="' + productChunks[i][j].name + '"> </a>';
                        dataHtml += '</div>';
                        dataHtml += '<div class="card-body">';
                        dataHtml += '<table class="table table-hover table-bordered">'; 
                        dataHtml += '<tbody>';      
                        dataHtml += '<tr>'; 
                        dataHtml += '<th scope="row" class="text-primary">Tên khung</th>';
                        dataHtml += '<td class="text-center card-product-name">' + productChunks[i][j].name + '</td>';  
                        dataHtml += '</tr>';    
                        dataHtml += '<tr>';
                        dataHtml += '<th scope="row" class="text-primary">Giá (VNĐ)</th>';
                        dataHtml += '<td class="text-center card-product-price">' + productChunks[i][j].price + '</td>';
                        dataHtml += '</tr>';
                        dataHtml += '</tbody>';
                        dataHtml += '</table>';
                        dataHtml += '</div>';
                        dataHtml += '</div>';
                        dataHtml += '</div>';
                    }
                    dataHtml += '</div>';
                }               
                $('#products-holder').html(dataHtml);
            }
        };
        $('#pagination').pagination(options); 
    </script>
</div>