<div class="container-fluid">
    <form method="POST" action="/shop">
        <div class="maxwi border rounded mt-1 mb-1 p-2 row text-center bg-dark text-light justify-content-center">
            <div class="form-group col-md-3">
                <label for="material">
                    <i class="fas fa-filter"></i> Chất liệu</label>
                <select class="form-control" name="material">
                    <option value="all">Tất cả</option>
                    {{#each matList}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="material">
                    <i class="fa fa-sort"></i> Thứ tự</label>
                <select class="form-control" name="sortBy">
                    <option value="none">Không</option>
                    <option value="name">Tên</option>
                    <option value="price">Giá</option>
                    <option value="added">Ngày thêm</option>
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="material">
                    <i class="fa fa-sort"></i> Thứ tự</label>
                <select class="form-control" name="order">
                    <option value="1">Tăng</option>
                    <option value="-1">Giảm</option>
                </select>
            </div>

            <div class="form-group col-md-3 mid-text-div">
                <button type="submit" class="btn btn-outline-light">Xem</button>
            </div>

        </div>
    </form>



    <div class="container-fluid border rounded mt-1 mb-1 p-2">

        {{#each products}}

        <div class="row mb-3">

            {{#each this}}

            <div class="col-md-3">
                <div class="card product-card">
                    <div class="card-header card-product-img">
                        <a href="/product/{{this._id}}">
                            <img class="card-img-top p-2" src="{{this.image}}"
                                alt="{{this.name}}"> </a>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-primary">Tên khung</th>
                                    <td class="text-center card-product-name">{{this.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-primary">Giá (VNĐ)</th>
                                    <td class="text-center card-product-price">{{this.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>

        {{/each}}

    </div>

</div>