<div class="container mt-5">
    {{#if session.cart}} 
        <div class="total-cart-price text-center mb-3">Tổng cộng: {{session.cart.totalPrice}}VNĐ</div>
        {{#each session.cart.items}}
            <div class="container-fluid rounded border bg-light p-2 m-2 row">
                <div class="col-sm-4 text-center p-1"><img src="{{this.item.image}}" alt="Hình thiết kế" class="cart-img"></div>
                <div class="col-sm-4 text-center p-1"><img src="{{this.imagePath}}" alt="Hình thiết kế" class="cart-img"></div>
                <div class="col-sm-2 text-center">
                    <a href="product/{{this.item._id}}">
                        <div class="container text-center cart-name m-2">{{this.item.name}} cái</div>
                        <div class="container text-center cart-price m-2">{{this.price}}VNĐ</div>
                        <div class="container text-center cart-name m-2">{{this.qty}} cái</div>
                    </a>
                </div>
                <div class="col-sm-2 text-center justify-content-center" style="margin-top: 2.5%;">
                    <a href='/remove-from-cart/{{this.key}}'>
                        <i class="fa fa-trash fa-2x m-auto"></i>
                    </a>
                </div>
            </div>
        {{/each}}









    {{else}}
        <div class="container alert alert-info text-center mt-5">
            <h1>Bạn chưa có sản phẩm nào trong giỏ hàng.</h1>
        </div>
    {{/if}}
</div>